
<div class="form-container">
  <h1>New Article Reactive</h1>
  <form [formGroup]="articleForm" (ngSubmit)="createArticle()" class="d-flex justify-content-center flex-column">
      <div class="mb-3">
        <label for="name" class="form-label">Article Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
          <div *ngIf="errorControl('name', 'required')">Article name is required</div>
          <div *ngIf="errorControl('name', 'invalidName')">Article name not valid</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price Name:</label>
        <input type="number" class="form-control" id="price" formControlName="price">
        <div *ngIf="price?.invalid && (price?.dirty || price?.touched)">
          <div *ngIf="price?.errors?.['required']">Article price is required</div>
          <div *ngIf="price?.errors?.['min']">Article must be at least 0,1€</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Article Image URL:</label>
        <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
        <div *ngIf="imageUrl?.invalid && (imageUrl?.dirty || imageUrl?.touched)">
          <div *ngIf="imageUrl?.errors?.['required']">Article image URL is required</div>
          <div *ngIf="imageUrl?.errors?.['pattern']">Article image URL does not seem to be a valid URL</div>
        </div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="onSale" formControlName="onSale">
        <label class="form-check-label" for="isOnSale">On Sale:</label>
      </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

